
/* 
    Created on : 3 nov. 2022, 10:32:55
    Author     : Alexanne
*/

.pane {
    -fx-background-color:  #faf8ef;
}

.text_horsjeu{
    
    -fx-font-family : ARIAL;
    -fx-font-size :30;
    -fx-text-fill : #776e65;
    
}

.text_horsjeu2{
    
    -fx-font-family : ARIAL;
    -fx-font-size :20;
    -fx-text-fill : white;
    
}

.boxStyle1{
    -fx-background-color :  #bbada0;
    -fx-background-radius : 10px;
    
}

.caseJeu{
    -fx-font-size : 48px;
    -fx-text-fill : #776e65;

}

.couleurCase{
    -fx-background-color : #eee4da;
    -fx-border-color :  black;
}

